@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* Prevent scrollbars */
}